!!! 5
html(lang="en")
  head
    title="Jasmine BDD Test"
    link(rel="stylesheet", href="/css/screen.css")
  body
    div(id="user-widget")
        p
            a(href="#") Click here to login.
    script(src="/js/jquery.min.js")
    script(src="/js/event-emitter.js")
    script(src="/js/user.js")
    script(src="/js/app.js")